# =========================================================
# ENV
# =========================================================
.env
.env.*
!.env.example

# =========================================================
# PYTHON
# =========================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================================================
# DATA (NE JAMAIS VERSIONNER)
# =========================================================
data/
data/raw/
data/processed/

# =========================================================
# NOTEBOOKS (clean repo)
# =========================================================
notebook/
*.ipynb_checkpoints

# =========================================================
# LOGS
# =========================================================
*.log

# =========================================================
# UV / BUILD
# =========================================================
uv.lock
dist/
build/
*.egg-info/

# =========================================================
# OS FILES
# =========================================================
.DS_Store
Thumbs.db
~*

# =========================================================
# IDE
# =========================================================
.vscode/
.idea/
.coverage

# =========================================================
# CI/CD YML
# =========================================================
.coverage
.github/workflows/deploy-hf.yml
.github/workflows/old_ci-cd.yml
.github/workflows/old_ci.yml

